<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Plataforma de cursos en línea">
    <meta name="keywords"
        content="cursos online, educación a distancia, aprendizaje en línea, desarrollo personal, formación profesional">
    <meta name="author" content="Maximiliano Alexander Yerio">
    <title>Academia Online</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="parallax">

    <header class="header-area header-sticky">
        <!--clase containery para no interferir en el estilo del tailwinds y dice containerla por que es el html Layout-->
        <div class="containerla">
            <div class="row">
                <div class="col-12">
                    <nav class="mains-nav">

                        <a href="{{ url_for('logout') }}" class="logoo">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logoo">
                        </a>

                        <ul class="navs">
                            <li class="scroll-to-section"><a href="{{ url_for('alumnos') }}">inicio</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('profile') }}">perfil</a></li>
                            <li class="scroll-to-section"><a href="{{ url_for('task') }}">tarea</a></li>
                            <li class="scroll-to-section"><a id="logoutLink" href="{{ url_for('logout') }}">cerrar
                                    sesión</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>


    <div class="content-container">
        {% block content %}

        {% endblock %}
    </div>



    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            if (!localStorage.getItem('usuarioId')) {
                var protectedRoutes = ['alumnos', 'perfil', 'tarea'];
                var currentPath = window.location.pathname.split('/').pop();

                if (protectedRoutes.includes(currentPath)) {
                    alert("Debes iniciar sesión para acceder a esta página.");
                    window.location.href = "/login";
                }
            }

            document.getElementById('logoutLink').addEventListener('click', function () {
                localStorage.removeItem('usuarioId');
                localStorage.removeItem('usuarioCurso');
                window.location.href = "/login";
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
            var menuTrigger = document.querySelector(".menu-trigger");
            var nav = document.querySelector(".navs");

            if (menuTrigger) {
                menuTrigger.addEventListener("click", function () {
                    this.classList.toggle("active");
                    nav.classList.toggle("active");
                });
            }
        });


    </script>
</body>

</html>